* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
    background-color: #0b0b14;
    color: white;
  
}

body::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background: #00f5a0;
    filter: blur(150px);
    opacity: 0.15;
    top: -100px;
    left: -100px;
    z-index: -1;
}

.container-form {
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.formulario_contacto {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 420px;
    background: #111827;
    border: 1px solid rgba(255, 255, 255, .08);
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    border-radius: 5px;
    padding: 30px;
    
}

input,
textarea {
    margin-bottom: 20px;
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #525e6e;
    color: white;
    outline: none;
}

.container-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_enviar {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    color: #fffefe;
}

.primary::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background: conic-gradient(#00f5a0,
            #00d9f5,
            #7c3aed,
            #00f5a0);
    animation: rotate 4s linear infinite;
    z-index: -2;
}

.primary::after{
    content: "";
    position: absolute;
    inset: 3px;
    background: hsl(220, 93%, 11%);
    border-radius: 10px;
    z-index: -1;
}

.btn_enviar:hover{
    transform: translateY(-3px);
}
.titulo{
     text-align: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

