* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #0b0b14;
    color: white;
}

body::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background: #00f5a0;
    filter: blur(150px);
    opacity: 0.15;
    top: -100px;
    left: -100px;
    z-index: -1;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 60px;
    max-width: 1110px;
    margin-inline: auto;
    gap: 40px;
}

.hero-left {
    max-width: 500px;
    animation: fadeUp 1s ease;
}

.intro {
    color: #00f5a0;
    font-size: 10px 0;
}

.hero-name {
    font-size: 48px;
    margin: 10px 0;
}

.hero-skills {
    font-size: 20px;
    opacity: 0.7;
    margin-bottom: 20px;
}

.buttons {

    margin-top: 12px;
    display: flex;
    gap: 15px;

}

/* .btn{
    padding: 12px 22px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: transform .5s;
} */



/* .primary{
    border: 1px solid #1f1fe0;
    background: linear-gradient(135deg, #00f5a0, #00d9f5);
    color: #0b0b14;
} */

.btn {
    position: relative;
    padding: 15px 30px;
    border-radius: 12px;
    color: white;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    background: #111827;
}

.primary::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background: conic-gradient(#00f5a0,
            #00d9f5,
            #7c3aed,
            #00f5a0);
    animation: rotate 4s linear infinite;
    z-index: -2;
}

.primary::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: #021336;
    border-radius: 10px;
    z-index: -1;
}

.secondary::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background: conic-gradient(#00f5a0,
            #00d9f5,
            #7c3aed,
            #00f5a0);
    animation: rotate 4s linear infinite;
    z-index: -2;
}

.secondary::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: #021336;
    border-radius: 10px;
    z-index: -1;

}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}




.btn:hover {
    transform: translateY(-3px);
}

.stats {
    margin-top: 40px;
    display: flex;
    gap: 18px;
}

.stat {
    text-align: center;

}

.stat strong {
    font-size: 20px;
}

.stat span {
    display: block;
    font-size: 12px;
    opacity: 0.6;
}

.image-wrapper {
    position: relative;
    width: 400px;
}

.image-wrapper img {
    width: 100%;
    mask-image: linear-gradient(black 95%, transparent);
    position: relative;
    z-index: 2;
    border-radius: 5%;
}

.circle {
    position: absolute;
    width: 420px;
    height: 326px;
    background: linear-gradient(135deg, #c1ff18, #73ff00);
    border-radius: 4;
    top: -7px;
    left: -11px;
    z-index: 1;
    filter: blur(10px);
    opacity: 0.8;
}



@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}